<h1>Welcome to Jarrod's Static Boilerplate</h1>
<br><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae autem recusandae? Nulla consequatur tempore neque quo perspiciatis, accusantium vero? Itaque ab sed aliquid doloremque, tempore sint nobis dolor, consectetur voluptas voluptate eos! Amet possimus consequuntur temporibus quo deserunt cum?</p>